body{
    background-image: url("https://images.unsplash.com/photo-1608311820966-bc367253a226?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1527&q=80");
    background-repeat: no-repeat;
    background-size: cover;  
}

#cadre-bg-img{
    background-color: rgba(32, 32, 38, 0.8);
    color: whitesmoke;
    text-align: center;
    padding: 50px;
}

h1{
    text-align: center;
    color: whitesmoke;
    font-family: Philosopher;
}

#description{
    text-align: center;
    font-style: italic;
    color: whitesmoke;
    font-size: 20px;
}

#box-name{
    padding: 10px;
    margin: 10px;
}

#box-email{
    padding: 10px;
    margin: 10px;
}

#box-number{
    padding: 10px;
    margin: 10px;
}

#checkbox legend{
    font-size: 20px;
}

input{
    margin-top: 10px;
}

select{
    margin-top: 10px;
}

textarea{
    margin-top: 10px;
}

#number{
    width: 150px;
}

:placeholder-shown{
    text-align: center;
}

footer{
    color: whitesmoke;
    text-align: center;
}